section{
    display: flex;
    gap: 10px;
}
section > div{
    width: 50%;
    padding: 10px;
    border: 1px solid black;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    padding: 5px;
}
td:nth-child(1){
    text-align: center;
}
form > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    width: 100%;
}
form > div > input, select{
    width: 70%;
    padding: 4px 2px;
    margin-right: 40px;
}
button{
    padding: 4px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    float: right;
    margin-right: 40px;
}
